.section {
    margin-bottom: 1rem;
}

.section input {
    box-sizing: border-box;
    display: block;
    width: 100%;


    padding: 0.75rem 0.5rem;

    border: 0;
    border-radius: 8px;

    font-size: 1rem;
    font-weight: 300;

    background-color: var(--background-input);
    color: var(--color-input);
}