:root {
    --progress-circle-secondary-color: var(--color-secondary) !important;
    --progress-circle-primary-color: var(--color-alt) !important;
}

.page__background {
    background-color: var(--color-background) !important;
}

.back-button,
.back-button__icon {
    fill: var(--color-background) !important;
    color: var(--color-background) !important;
}

.progress-circular__primary {}

.progress-circular__secondary {}

.action-sheet-button {
    color: #505050 !important;
}

.action-sheet-button:last-child {
    color: var(--color-primary) !important;
}

.dialog {
    width: 80%;
    height: 80%;
}

.dialog-container {
    width: 100%;
    height: 100% !important;
    border-radius: 20px !important;
}